<h1>Listing primary_roles</h1>

<table>
  <thead>
    <tr>
      <th>Role name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @primary_roles.each do |primary_role| %>
      <tr>
        <td><%= primary_role.role_name %></td>
        <td><%= link_to 'Show', primary_role %></td>
        <td><%= link_to 'Edit', edit_primary_role_path(primary_role) %></td>
        <td><%= link_to 'Destroy', primary_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primary role', new_primary_role_path %>
