<h1>Listing milestone_types</h1>

<table>
  <thead>
    <tr>
      <th>Milestone type name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @milestone_types.each do |milestone_type| %>
      <tr>
        <td><%= milestone_type.milestone_type_name %></td>
        <td><%= link_to 'Show', milestone_type %></td>
        <td><%= link_to 'Edit', edit_milestone_type_path(milestone_type) %></td>
        <td><%= link_to 'Destroy', milestone_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Milestone type', new_milestone_type_path %>
