<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_rut %><br>
    <%= f.text_field :person_rut %>
  </div>
  <div class="field">
    <%= f.label :person_names %><br>
    <%= f.text_field :person_names %>
  </div>
  <div class="field">
    <%= f.label :person_paternal_surename %><br>
    <%= f.text_field :person_paternal_surename %>
  </div>
  <div class="field">
    <%= f.label :person_maternal_surename %><br>
    <%= f.text_field :person_maternal_surename %>
  </div>
  <div class="field">
    <%= f.label :person_birth_date %><br>
    <%= f.date_select :person_birth_date %>
  </div>
  <div class="field">
    <%= f.label :gender_id %><br>
    <%= f.number_field :gender_id %>
  </div>
  <div class="field">
    <%= f.label :marital_status_id %><br>
    <%= f.number_field :marital_status_id %>
  </div>
  <div class="field">
    <%= f.label :person_address_street %><br>
    <%= f.text_field :person_address_street %>
  </div>
  <div class="field">
    <%= f.label :person_address_number %><br>
    <%= f.number_field :person_address_number %>
  </div>
  <div class="field">
    <%= f.label :person_address_apartment %><br>
    <%= f.text_field :person_address_apartment %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.number_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :person_phone %><br>
    <%= f.text_field :person_phone %>
  </div>
  <div class="field">
    <%= f.label :person_cellphone %><br>
    <%= f.text_field :person_cellphone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
