<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Person rut</th>
      <th>Person names</th>
      <th>Person paternal surename</th>
      <th>Person maternal surename</th>
      <th>Person birth date</th>
      <th>Gender</th>
      <th>Marital status</th>
      <th>Person address street</th>
      <th>Person address number</th>
      <th>Person address apartment</th>
      <th>City</th>
      <th>Person phone</th>
      <th>Person cellphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.person_rut %></td>
        <td><%= person.person_names %></td>
        <td><%= person.person_paternal_surename %></td>
        <td><%= person.person_maternal_surename %></td>
        <td><%= person.person_birth_date %></td>
        <td><%= person.gender_id %></td>
        <td><%= person.marital_status_id %></td>
        <td><%= person.person_address_street %></td>
        <td><%= person.person_address_number %></td>
        <td><%= person.person_address_apartment %></td>
        <td><%= person.city_id %></td>
        <td><%= person.person_phone %></td>
        <td><%= person.person_cellphone %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
