<%= form_for(@bufete_client_legal_affair) do |f| %>
  <% if @bufete_client_legal_affair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bufete_client_legal_affair.errors.count, "error") %> prohibited this bufete_client_legal_affair from being saved:</h2>

      <ul>
      <% @bufete_client_legal_affair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bufete_client_id %><br>
    <%= f.number_field :bufete_client_id %>
  </div>
  <div class="field">
    <%= f.label :legal_affair_id %><br>
    <%= f.number_field :legal_affair_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
