<%= form_for(@sub_type) do |f| %>
  <% if @sub_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_type.errors.count, "error") %> prohibited this sub_type from being saved:</h2>

      <ul>
      <% @sub_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :subtype_name %><br>
    <%= f.text_field :subtype_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
