<%= form_for(@milestone_status) do |f| %>
  <% if @milestone_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone_status.errors.count, "error") %> prohibited this milestone_status from being saved:</h2>

      <ul>
      <% @milestone_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :milestone_status_name %><br>
    <%= f.text_field :milestone_status_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
