<h1>Listing milestone_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Milestone status name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @milestone_statuses.each do |milestone_status| %>
      <tr>
        <td><%= milestone_status.milestone_status_name %></td>
        <td><%= link_to 'Show', milestone_status %></td>
        <td><%= link_to 'Edit', edit_milestone_status_path(milestone_status) %></td>
        <td><%= link_to 'Destroy', milestone_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Milestone status', new_milestone_status_path %>
